*{
   
    font-family: Arial, Helvetica, sans-serif;
}
body{
    
    background: linear-gradient(0deg,#E3FFF800,38deg,#E3FFF861);
    color: #7D7987;
    font-size: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-right: 12px 38px;
}
.logo{
    font-size: 24px;
    color: #89C5CC;
    font-weight: bold;
    margin-left: 48px;
}
.logo span{
    color: #3498db;
}
nav ul{
    display: flex;
    gap: 30px;
    list-style: none;

}
nav ul li a{
    display: inline;
    text-decoration: none;
    color: #7D7987;
    margin-right: 80px;
}
nav ul li a:hover{
    color: black;
    cursor: pointer;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  20px 40px;
    max-width: 1100px;
    margin: 12px 40px auto;

}
.conteiner{
   max-width: 500px;
}

h2{
    font-size: 49px;
    font-weight: 400;
    color: #000000;
}
h2 span{
    color: #89C5CC;
    font-weight: bold;
} 
p{
    font-size: 16px;
    color: #7D7987;
    line-height: 25px;
    margin-top: 36px;
    margin-bottom: 32px;
    
}
p span{
    font-weight: bold;
    color:#7D7987;
}
#button{
    background-color:#69B99D;
    color: white;
    border: none;
    padding: 14px 32px 15px 32px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 4px;
    width: 200px;
    cursor: pointer;

    

    
}
button:hover{
    background-color: #3498db;
    transform: scale(1.1);
    transition: 0.5s;

}
button img{
    width: 16px;
}

.imagem{
   width: 300px;
   
}

footer{
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
footer a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
